.board {
    user-select: none;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.piece {
    position: relative;
}

.square-dark {
    background-color: #b58863;
    aspect-ratio: 1;
    position: relative;
}

.square-light {
    background-color: #f0d9b5;
    aspect-ratio: 1;
    position: relative;
}

.square-dark-move {
    background-color: #ffff99;
    aspect-ratio: 1;
    position: relative;
}

.square-light-move {
    background-color: #ffffcc;
    aspect-ratio: 1;
    position: relative;
}

.square-annotation {
    z-index: 1;
    top: 0;
    right: 0;
    width: 30%;
    opacity: 50;
    position: absolute;
}

.piece-image {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.square-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: 0;
}
