<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Chess
        HTMX</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet"
          th:href="@{/assets/css/styles.css}">

    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
</head>
<body>
<main class="container">
    <section
            hx-ext="ws"
            ws-connect="/ws"
            class="board"
            id="board">
        <div th:each="rankIndex: ${rankIndices}"
             th:with="rank=${ranks[rankIndex]}">
            <div th:each="file: ${files}"
                 th:with="key=${rank + file}">
                <div th:id="@{${key} + '-square'}"
                     th:class="'square square-'+${file % 2 == rankIndex % 2 ? 'light' : 'dark'}">
                    <div th:id="${key}"
                         class="piece">
                        <img th:src="@{${'/assets/img/' + state.get(key) + '.png'}}"
                             th:if="${state.containsKey(key)}"
                             draggable="false"
                             loading="eager"
                             width="100%"
                             alt="square"/>
                    </div>
                    <div th:attr="hx-post=@{/start-move},hx-trigger=@{'mousedown from:div#'+${key}+'-square'},hx-vals='js:{location: \'' + ${key} + '\'}'"
                         data-hx-swap="none">
                    </div>
                    <div th:attr="hx-post=@{/end-move},hx-trigger=@{'mouseup from:div#'+${key}+'-square'},hx-vals='js:{location: \'' + ${key} + '\'}'"
                         data-hx-swap="none">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>