<div th:each="entry : ${state}"
     th:if="${state.containsKey(entry.key)}"
     th:id="${entry.key}"
     class="piece"
     data-hx-swap-oob="outerHTML"
>
    <img th:src="@{${'/assets/img/' + entry.value + '.png'}}"
         th:if="${entry.value}"
         draggable="false"
         loading="eager"
         width="100%"
         alt="square"/>
</div>
<div th:if="${wrongMove}"
     th:id="${wrongMove[1]}"
     class="piece"
     data-hx-swap-oob="afterend"
>
    <img th:src="@{'/assets/img/Red_circle.png'}"
         draggable="false"
         loading="eager"
         width="100%"
         alt="square"
         style="z-index: 0; opacity: 50"
    />
</div>
