<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chess HTMX</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet"
          th:href="@{/assets/css/styles.css}">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
</head>
<body th:attr="hx-headers=${'{&quot;' + _csrf.headerName + '&quot;:&quot; ' + _csrf.token + '&quot;}'}">
<nav th:replace="~{index :: nav}"></nav>
<main class="container">
    <section data-hx-ext="ws" data-ws-connect="/ws">
        <div class="grid">
            <h1>Puzzle</h1>
            <button th:attr="hx-post=@{/puzzle/next-move}"
                    data-hx-swap="none">
                Show move
            </button>
        </div>
        <hr>
        <div id="next-move-trigger"></div>
        <div th:replace="~{board}"></div>
    </section>
</main>
</body>
</html>
