<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title sec:authentication="name">User</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet"
          th:href="@{/assets/css/styles.css}">
</head>
<body>
<nav th:replace="~{index :: nav}"></nav>
<main class="container">
    <section>
        <header sec:authentication="name"></header>
        <p th:text="${'Rating: ' + rating}">

        </p>
    </section>
</main>
</body>
</html>